#editorContainer {
}

#editor {
  margin-top: 75px;
}

.header {
  font-family: sans-serif;
  display: inline;
}

#saveStatus {
  color: #656565;
}

#buttons {
  display: inline;
}

#editor {
  border: solid 1px grey;
  padding-left:10px;
  height: 78vh;
}

div#variables {
	width: 15%;
	margin-top: 5%;
	float: right;
}

#openInput {
  display: none;
}
