#editorContainer {
  margin-top: -50px;
}

#editor {
  margin-top: 75px;
}

.header {
  font-family: sans-serif;
}

#buttons {
  display: inline;
}

#editor {
  border: solid 1px grey;
  padding-left:10px;
  height: 78vh;
}

div#variables {
	width: 15%;
	margin-top: 5%;
	float: left;
}
div#editorThing {
	margin-left: 15%;
}

#openInput {
  display: none;
}
