.header {
  font-family: sans-serif;
  display: inline;
}

#saveStatus {
  color: #656565;
}

#editor {
  margin-top: 7px;
  border: solid 1px grey;
  padding-left: 10px;
  height: 78vh;
}

#document {
  margin-top: 50px;
}

.buttons {
  display: inline;
}
